*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("image/bg.png");
    background-attachment: fixed ;
    width: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
.container1{
    position: relative;
    left: 50%;
    top: 10%;
    width: 60%;
    height: 75px;
    transform: translate(-50%,0);
    background-color: rgba(250, 235, 215, 0.5);
    border-radius: 20px;
    /* border : 2px solid rgba(37, 38, 107, 0.5); */
    transition : height .6s ease-in-out;
}
.container1.trans{
    height: 500px;
    padding-bottom: 30px;
}
.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding :20px 0;
}
.container2 input{
    width: 80%;
    height: 40px;
    border-radius: 20px;
    outline: 0;
    border :0;
    text-align: center;
    letter-spacing: 5px;
    transition:.2s  ease;
    text-decoration: none;
    background-color: rgba(253, 255, 240, 0.952);
    transform: translateX(20px);
    font-size: 20px;
    font-weight: bold;
}
.container2 img{
    transform: translateX(-20px);
}
.container2 input:focus{
    border: 1px solid rgb(255, 145, 0);
    border-radius: 10px;
}
.container3{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: whitesmoke;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
}
.container3.show{
    visibility: visible;
    opacity: 1;
}
.container3 button{
    position: absolute;
    right: 25px;
    top: 25px;
    width: 25px;
    height: 25px;
    border: none;
}
.layover{
    height: 100vh;
    width: 100%;
    background-color: antiquewhite;
    filter: blur(20px);
    position: absolute;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
}
.layover.show{
    visibility: visible;
    opacity: 1;
}
.weather{
    text-align:center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease-in-out 0.4s;
}
.weather.open{
    opacity: 1;
    visibility: visible;
}
.mainweatherimg{
    width: 200px;
}
.city{
    font-size: 50px;
    
}
.comment{
    margin-top: 5x;
    font-size: 45px;
    letter-spacing: 5px;
}
.temperature{
    font-size: 35px;
    margin: 10px;
}
.bottom{
    display: flex;
    justify-content: space-around;
    margin-top:25px;
}
.flex1, .flex2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    text-align: left;
    margin-left: 10px;
    font-weight: bold;
}
.content :nth-child(1){
    font-size:22px;
}

/* .warning::before{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: "";
    height: 100vh;
    width: 100%;
    z-index: -1;
    background-color: rgba(250, 235, 215, 0.712);
} */
/* h1::after{
    content:"";
    display: block;
    width: 100%;
    background-color: black;
    height: 2px;
    position: relative;
    bottom: 2px;
    transform: scaleX(1);
    transition: 1s  ease;
}
h1:hover::after{
    transform: scaleX(0);
}
h1{
    color: aqua;
    transition: 1s ease;
}
h1:hover{
 color:black;
} */
@media screen and (min-width:1200px){
    .container1{
        width: 30%;
    }
    .container3{
        width: 30%;
        height: 50%;
    }
    .container3 h1{
        margin: 20px;
    }
    .container3 img{
        margin: 20px;
        width: 150px
    }
}
@media screen and (max-width:420px){
    .container1{
        width: 90%;
    }
    .container3{
        width: 80%;
        height: 40%;
        padding-bottom: 30px;
    }
    .container3 img{
        margin: 20px;
        width: 150px
    }
}